.button-with-props {
  background-color: var( --clr-primary);
  color: var( --clr-text);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button-with-props:hover {
  background-color: #fa5a04;
  color: var(--clr-text);
  font-weight: bold;
}

.button-with-props:focus {
  outline: 2px solid #333;
}

.button-with-props--disabled {
  background-color: #ccc;
  cursor: not-allowed;
}