.card {
    background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.imageCard {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px; /* si quieres limitar la altura */
}